<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">    <!-- <link rel="stylesheet" href="/static/addKid.css"> -->
<!--    <link rel="stylesheet" href="addKid.css">-->
        <link rel="stylesheet" href="/static/addKid.css">
    <title>Main</title>
</head>

<body>

    <h1 class=page-header>Edit Kid </h1>
    <div class="inputs-container">
        <div class="card">
            <div class="card-body p-4 p-md-5">
                <form action="{{ url_for('editKid' ,kidId=kidObj._id) }}" method="post" enctype="multipart/form-data">
                <!-- first row includes first & last name inputs. -->
                  <div class="row first-input-row">
                     <!-- first name input -->
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="first_name" placeholder="First Name"  value="{{kidObj.first_name}}" class="form-control form-control-lg" />
                      </div>

                    </div>
                    <!-- last name input -->
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" value="{{kidObj.last_name}}" name="last_name" placeholder="Last Name" class="form-control form-control-lg" />
                      </div>

                    </div>
                  </div>
                <!-- second row includes ID & class inputs. -->
                  <div class="row second-input-row">
                      <!-- id input -->
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" value="{{kidObj._id}}" name="_id" placeholder="ID" class="form-control form-control-lg" />
                      </div>

                    </div>
                    <!-- class "input" - was sent from the mainPage -->
                    <div class="col-md-6 mb-4">

                      <div class="form-outline ">
                        <input type="text" name="class" readonly class="form-control form-control-lg" />
                        <input type="hidden" name="class" >
                        <span class="class-inject">{{ kidObj.class }}</span>
                      </div>

                    </div>
                  </div>
                  <!--third row includes birthday and gender. -->
                  <div class="row third-input-row">
                      <!-- birthday input -->
                    <div class="col-md-6 mb-4 d-flex align-items-center">
                      <div class="form-outline datepicker w-100">
                        <h6 class="mb-2 pb-1">Birthday </h6>
                        <input value="{{kidObj.birthday}}" type="date" min="2000-01-01" max="2021-12-31" id="birthday" class="form-control form-control-lg" name="birthday"/>
                      </div>

                    </div>
                    <!-- Gender input, checkboxs -->
                    <div class="col-md-6 mb-4">
                      <h6 class="mb-2 pb-1">Gender: </h6>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="femaleGender" value="female" checked/>
                        <label class="form-check-label" for="femaleGender">Female</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="maleGender" value="male"/>
                        <label class="form-check-label" for="maleGender">Male</label>
                      </div>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="otherGender" value="other"/>
                        <label class="form-check-label" for="otherGender">Other</label>
                      </div>

                    </div>
                  </div>
                  <!-- forth row is for parent name and parent phone number. -->
                  <div class="row forth-input-row">
                    <!-- parent name input -->
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input value="{{kidObj.parent_name}}" name="parent_Name" type="text" placeholder="Parent Name" class="form-control form-control-lg" />
                      </div>
                    </div>
                    <!-- parent phone number -->
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <input type="tel" value="{{kidObj.parent_phone}}" name="parent_phone" placeholder="Parent Phone Number" class="form-control form-control-lg" />
                      </div>

                    </div>
                  </div>
                    <!--fifth row and on is for images upload. -->
                    <div class="row five-input-row">
                    <!--Upload pictures -->
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                          <input  name="picture-1" type="file" class="file" data-browse-on-zone-click="true">
                          <input  name="picture-2" type="file" class="file" data-browse-on-zone-click="true">
                          <input  name="picture-3" type="file" class="file" data-browse-on-zone-click="true">
                          <input  name="picture-4" type="file" class="file" data-browse-on-zone-click="true">
                          <input  name="picture-5" type="file" class="file" data-browse-on-zone-click="true">
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                          <input  name="picture-6" type="file" class="file" data-browse-on-zone-click="true">
                          <input  name="picture-7" type="file" class="file" data-browse-on-zone-click="true">
                          <input  name="picture-8" type="file" class="file" data-browse-on-zone-click="true">
                          <input  name="picture-9" type="file" class="file" data-browse-on-zone-click="true">
                          <input  name="picture-10" type="file" class="file" data-browse-on-zone-click="true">
                      </div>
                    </div>
                  </div>

                  <div class="mt-4 pt-2">
                    <input class="submit btn btn-primary btn-lg" type="submit" value="Submit"/>
                  </div>

                </form>
                <img src="/static/images/WIN_20200203_12_21_02_Pro.jpg">
              </div>
            </div>
        </div>

</body>
<script>

</script>
</html>